*, *:before, *:after {
  margin: 0; padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #111;
  color: #666;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Roboto', 'Montserrat', sans-serif;
}

.main-header {
  text-align: center;
  padding: 30px 15px;
  background: linear-gradient(#333, #111);
  h1 {
    font-size: 26px;
    color: #666;

    span {
      font-size: 42px;
    }
    .function-name {
      color: #2a2;
    }
  }
  h2 {
    font-size: 24px;
    color: #ccc;
  }
}

.demo-slideshow-wrapper {
  background: #ddd;
  margin: 15px;
  border: 1px solid #444;
  .demo-slideshow-title {
    background: #222;
    color: #aaa;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    padding: 10px 15px;

    .filter {
      padding: 5px 10px;
      border-radius: 7px;
      background: #111;
    }
  }
  .demo-slideshow {
    padding: 15px 5px;
  }
}
